<h1>Edit Restaurant</h1>

<%= render 'form' %>


<%= button_to "Delete Restaurant", @restaurant, method: :delete, class: :button, data: {confirm: "Are you sure you want to delete this restaurant?"} %>